*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #0F6292;
    height: 50px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: white;
    align-items: center;
}
header ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

header a{
    text-decoration: none;
}
main{
    min-height: 92vh;
}
footer{
    background-color:white;
    border-top: 3px solid #0F6292;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    gap:15px ;
}
footer i{
    color: #0F6292;
}
